* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  color: #fff;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(5, 10, 5, 0.8), rgba(223, 46, 46, 0.3)), url(../assets/img/bg-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container2 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(5, 10, 5, 0.8), rgba(57, 62, 70, 0.4)), url(../assets/img/mensualidades.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 80%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

.navbar ul li::before {
  content: "";
  height: 3px;
  width: 0%;
  background: #ffd523;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s ease-out;
}

.navbar ul li:hover::before {
  width: 100%;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
}

.eslogan {
  margin: auto;
}

.eslogan p {
  text-align: center;
  color: #fff;
}

.main .eslogan h1 {
  font-family: "Poppins", sans-serif;
}

.about {
  height: auto;
  background-color: #171717;
  color: white;
}

.texto {
  padding-top-top: 30px;
}

.about2 {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.about2 div {
  margin: 0 4.5rem;
}

#table table {
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 50%;
  margin: auto;
  padding: 10rem;
}

th,
td {
  padding: 20px;
}

thead {
  background-color: rgba(5, 10, 5, 0.9);
  border-bottom: solid 5px #0f362d;
  color: white;
}

tr:nth-child(even) {
  background-color: #ddd;
}

tr td {
  transition: 0.5s;
}

tr:hover td {
  background-color: #df2e2e;
  color: white;
  transition: 0.5s;
}

/* Carrusel */
#slideshow-principal {
  position: relative;
  overflow: hidden;
}

#progress-bar-container {
  position: absolute;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  top: 0;
  z-index: 1000;
}

#progress-bar {
  height: 100%;
  background-color: rgba(228, 69, 69, 0.7);
  border-radius: 0 3px 3px 0;
  transition: width 0.8s;
}

#slideshow {
  position: relative;
  z-index: 998;
  height: 600px;
}
#slideshow img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

#img2 {
  left: 100%;
}

.active {
  left: 0 !important;
  transition: all 1s;
}

#indicadores {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
  z-index: 999;
}

.circles {
  border: white 2px solid;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 0 5px 0 5px;
  background-color: transparent;
  border-radius: 50%;
}

.resaltado {
  background-color: #e44545;
  transition: background-color 0.8s;
}

/* Fin carrusel */
#left {
  margin-left: 2rem;
}

.a img {
  padding: 12px;
}

/*# sourceMappingURL=main.css.map */
