* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(5, 10, 5, 0.8), rgba(223, 46, 46, 0.3)),
    url(../img/bg-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container2 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(5, 10, 5, 0.8), rgba(57, 62, 70, 0.4)),
    url(../img/mensualidades.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container3 {
  width: 100%;
  height: 100vh;
  /* bg-image*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar {
  width: 80%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

.navbar ul li::before {
  content: "";
  height: 3px;
  width: 0%;
  background: #ffd523;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s ease-out;
}

.navbar ul li:hover::before {
  width: 100%;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
}
.eslogan {
  margin: auto;
}

.eslogan p {
  text-align: center;
  color: #fff;
}
.main .eslogan h1 {
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  color: #fff;
}

.about {
  height: auto;
  background-color: #171717;
  color: white;
}

.texto {
  padding-top-top: 30px;
}

.about2 {
  display: flex;
  flex-direction: row;
}

#table table {
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 50%;
  margin: auto;
  padding: 10rem;
}

th,
td {
  padding: 20px;
}

thead {
  background-color: rgba(5, 10, 5, 0.9);
  border-bottom: solid 5px #0f362d;
  color: white;
}

tr:nth-child(even) {
  background-color: #ddd;
}

tr td {
  transition: 0.5s;
}
tr:hover td {
  background-color: #df2e2e;
  color: white;
  transition: 0.5s;
}


.carrusel {
  margin: auto;
  width: 100%;
  height: 100vh;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.slider {
  position: relative;
  width: 800px;
  height: 300px;
}

ul.slider li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
}

ul.slider li img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
  opacity: 1;
}

ul.slider li:target {
  opacity: 1;
}

.menu {
  text-align: center;
  margin: 20px;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
}